div.panel{
  padding-left: 200px;
  padding-right: 100px;
  margin-right: 200px;
  margin-left: 200px;
  margin-top: 100px;
  background-color: grey;
  height: 550px;
  border-style: groove;
  background-image: url("../queries.jpg");
  background-image: image(200px,300px);
  border-radius: 20px;
}
h1{
  font-size: 6;
  font-style: italic;
  font-family: cursive;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 100px;
  border: 10px;
}
h3{
  font-family: sans-serif;
}

form.bground2{
  border-style: ridge;
  align-items: center;
  background-color: grey;
  border-radius: 10px;

}
#num1{
  border-radius: 20px;
  margin: 20px;
}
#num2{
  border-radius: 20px;
  margin: 20px;
}
#num3{
  border-radius: 20px;
  margin: 20px;
}
