div.panel{
  padding-left: 200px;
  padding-right: 100px;
  margin-right: 200px;
  margin-left: 200px;
  margin-top: 200px;
}
h1{
  font-size: 6;
  font-style: italic;
  font-family: cursive;
  text-align: center;
  text-decoration: underline;
}
